@charset "UTF-8";
/* General Styles */

/* Footer Styles */
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f9f9f9;
}

.footer-line {
    width: 95%;
    border: 1px solid #333;
    margin: 0 auto 20px;
}

.footer-content h4 {
    margin: 10px 0;
    color: #333;
}

.footer-content p {
    margin: 5px 0;
    color: #555;
    font-size: 0.9em;
}
