<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itbank.mavenNego.service.ChatMapper">

    <insert id="createChatRoom">
        INSERT INTO chat_rooms (seller_id, product_id)
        VALUES (#{sellerId}, #{productId})
    </insert>

    <select id="findAllChatRooms" resultType="com.itbank.mavenNego.dto.ChatRoomDTO">
        SELECT * FROM chat_rooms
    </select>

</mapper>
