@charset "UTF-8";

.container1 {
            width: 100%;
            margin: auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            
        }
        .title {
            text-align: center;
            color: #333;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        .table th, .table td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        .table th {
            background-color: #f2f2f2;
        }
        .table tr:hover {
            background-color: #f9f9f9;
        }
        .btn {
            padding: 8px 12px;
            text-decoration: none;
            color: #fff;
            border-radius: 4px;
        }
        .btn-danger {
            background-color: #d9534f;
            border: none;
        }
        .btn-danger:hover {
            background-color: #c9302c;
        }
        .no-results {
            text-align: center;
            color: #777;
        }
        .search-container {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        .search-form {
            flex-grow: 1;
            margin: 0 20px;
            display: flex;
            align-items: center;
            position: relative;
        }
        .search-icon {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
        }
        .search-form input[type="text"] {
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 30px 0 0 30px;
            box-sizing: border-box;
            padding: 10px 10px 10px 40px; /* Adjusted padding for consistency */
            height: 50px; /* Set height to match submit button */
        }
        .search-form input[type="submit"] {
            padding: 10px 20px; /* Adjusted padding for consistency */
            border: 1px solid #ddd;
            border-left: none;
            border-radius: 0 30px 30px 0;
            background-color: #5bc0de;
            color: white;
            cursor: pointer;
            height: 50px; /* Set height to match text input */
        }
        .search-form input[type="submit"]:hover {
            background-color: #31b0d5;
        }
        
        .pagination {
        	justify-content: center;
        	margin:0 auto;
    		text-align: center;
		}

.pagination a {
    margin: 0 5px;
    padding: 10px 15px;
    color: #2196F3; /* 변경된 색상 */
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination a.active {
    background-color: #2196F3; /* 변경된 색상 */
    color: white;
    border: none;
}

.pagination a:hover {
    background-color: #0056b3; /* 기존과 동일 */
    color: white;
}
        