@charset "UTF-8";

.container1 {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #cdd9e5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #cdd9e5;
    text-align: left;
}

th {
    background-color: #2196F3; /* 변경된 색상 */
    color: #ffffff; /* 변경된 색상 */
}

input[type="text"], textarea {
    width: calc(100% - 24px);
    padding: 10px;
    font-size: 14px;
    border: 1px solid #cdd9e5;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-group {
		margin: 0 200px;
	align-items: center;
    text-align: center;
    margin-top: 20px;
    background-color: #ffffff; /* 버튼이 들어가는 영역의 배경색 */
    padding: 10px; /* 버튼 간격을 조정하기 위한 여백 추가 */
}

.btn-group input[type="submit"], 
.btn-group input[type="reset"],
.btn-group input[type="button"] {
    padding: 12px 24px;
    font-size: 14px;
    cursor: pointer;
    background-color: #2196F3; /* 변경된 색상 */
    color: #fff; /* 변경된 색상 */
    border: none;
    border-radius: 5px;
}

.btn-group input[type="submit"]:hover,
.btn-group input[type="reset"]:hover,
.btn-group input[type="button"]:hover {
    background-color: #0056b3; /* 변경된 hover 색상 */
}
